fastapi[standard]
uvicorn
pydantic
python-multipart
llama-index.core
llama-index.llms.gemini
llama_index.embeddings.langchain
langchain-community
sentence-transformers
pymupdf
pymupdf4llm
google-generativeai
nest-asyncio